/* Reset CSS*/
*{
  margin: 0px;
  padding: 0px;
  color:#000000;
  font-family: Verdana, sans-serif;
}
nav{
  position: fixed;
  background-color: #333;
}

nav a{
  color:#ffffff;
  padding: 10px;
  text-decoration: none;
}

footer{
  background-color: #333;
  padding-bottom: 100%;
  border-top:solid #8fd9fc;
  color: #ffffff;
}

footer p {
  color: #ffffff;
}

#hamburger {
  /* Pour que la checkbox ne s'affiche pas */
  display: none;
}