/* Reset CSS*/
*{
  margin: 0px;
  padding: 0px;
  color:#000000;
  font-family: Verdana, sans-serif;
}

/* Computer menu */
@media screen and (min-width:1024px){

  #hamburger-logo {
    display: none;
  }

  section{
    margin-top: 6rem;
    margin-block-end: 6rem;
  }

  nav{
    display:block;
    width: 100%;
    margin: 0 auto;
    color:#ffffff;
    border-bottom: 2px solid #8fd9fc;
    background-color: #333;
    position: fixed;
    top: 0;
  }

  nav ul{
    list-style-type:none;
  }

  nav ul li{
    float: left;
    width: 10%;
    min-width: 150px;
    text-align: center;
    position: relative;
  }

  nav ul::after{
    content: "";
    display: table;
    clear: both;
  }

  nav a{
    display: block;
    text-decoration: none;
    padding: 10px 0px;
    color:#ffffff;
  }

  nav a:hover{
    color: orange;
  }

  .sous{
    display: none;
    box-shadow: 0px 1px 2px #CCC;
    background-color: #333;
    position: absolute;
    width: 100%;
    z-index: 1000;
  }
  nav > ul li:hover .sous{
    display: block;
  }
  .sous li{
    float: none;
    width: 100%;
    text-align: left;
  }
  .sous a{
    padding: 10px;
    border-bottom: none;
  }
  .sous a:hover{
    border-bottom: none;
  }
  .deroulant > a::after{
    font-size: 12px;
  }
}

/* mobile menu */
@media screen and (max-width:1024px){
  .menu {
    /* Pour que le menu reste en place quand on scroll */
    position: fixed;
    /* Pour que le menu ne soit pas sur le texte et que ce dernier puisse être sélectionné */
    width: 0px;
  }

  #hamburger {
    /* Pour que la checkbox ne s'affiche pas */
    display: none;

  }

  #hamburger-logo {
    /* Pour que le curseur soit un pointeur */
    cursor: pointer;
    background: #333;
    width: 9.25rem;
    display: fixed;
    top: 0rem;
    position:fixed;
    color: white;
    /* Pour que le menu hamburger s'affiche toujours */
    text-align: right;
    /* Pour que le menu hamburger soit "rangé" par défaut */
    transform: translateX(-8.5rem);
    padding: 1rem;
  }

  nav {
    display: none;
    flex-direction: column;
    background: #333;
    overflow: hidden;
    width: 11.25rem;
    top:3.25rem;
    position:fixed;
    /* Pour que les liens soient "rangés" par défaut */
    transform: translateX(-12.5rem);
  }

  #hamburger-logo,
  nav {
    /* Pour qu'il y ait une animation */
    transition: 0.7s;
  }

  /* Lorsque #hamburger est coché, le #hamburger-logo et le nav qui sont dans le même parent changent de propriété */
  #hamburger:checked ~ #hamburger-logo,
  #hamburger:checked ~ nav {
    /* Changement de la position pour afficher les menus */
    transform: translate(0);
    display:block;
  }

  nav a {
    color: white;
    text-decoration: none;
    padding: 10px;
  }

  section {
    /* Pour que le texte ne soit pas sous le menu */
    margin-left: 50px;
    width: 500px;
    margin-top: 3.5rem;

  }

  .deroulant{
    font-size: 2rem;
  }

  .sous{
    font-size: 1rem;
  }
}
/* élement immobile */

footer{
  background-color: #333;
  padding-bottom: 100%;
  border-top:solid #8fd9fc;
  color: #ffffff;
}

footer p {
  color: #ffffff;
}