{% extends 'base.html' %}

{% block content %}

<h1>Erreur 404</h1>
<p>La page que vous recherchez n'existe pas. Tous les pingouins disponibles la recherchent activement.</p>
<p>Plusieurs solutions s'offrent à vous.</p>
<h2>Méthode pour les non-professionnelles</h2>
<p>Le menu est actif et vous pouvez retourner à l'accueil ou sur une autre page du site.</p>
<p>Il est possible que le contenu que vous recherchez a été déplacé ou supprimé.</p>
<h2>Méthodes pour les professionnelles de l'IT (développeur, adminréseaux, <a href="https://www.youtube.com/watch?v=rlarCLhzfoU">ingenieur informatichien</a>)</h2>
<p>Si vous êtes vraiment <a href="https://perdu.com/">perdu.</a> Courage</p>
<p>Vous pouvez demander de l'aide sur <a href="https://catgpt.wvd.io/">catgpt.</a></p>
<p>Un tuto vidéo pour vous sortir de là est disponible <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">ici.</a></p>
<p>Peut être qu'il s'agit de votre installation réseau qui est défaillante. Consulter des <a href="https://poudreverte.org/">professionnelles.</a></p>
<p><a href="https://www.youtube.com/watch?v=a4Q03pJJCIA">Ma technique de codage</a> est parfaite, ce n'est pas possible chez moi, ça marche.</p>
{% endblock %}