{% extends 'base.html' %}

{%block content %}

<h1>A propos de moi</h1>
Passionnée d'informatique, je me reconvertis dans ce secteur.<br>
Vous trouverez sur ce site divers projets en cours ou fini.<br>
<br>
J'ai une préférence pour l'open source ainsi que l'open data.<br>
Je considère les ordinateurs comme des outils qui servent à mieux percevoir le monde.<br>
C'est pour cela que je m'intéresse particulièrement à la data.<br>
La partie réseaux est nécessaire pour partager ses données, il faut donc aussi "mettre la main dans le cambouis".<br>
<br>
Pour information : Ce site est auto-hébergé sur un petit rasberry pi.<br>
<br>
Vous trouverez de plus amples informations dans les pages réseaux si cela vous intéresse.<br>

{% endblock %}