<!DOCTYPE html>
<html lang="fr" class={{ page }}>
  <head>
    <meta charset="utf-8">
    <title>MatBarr : piweb</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
  
    <link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet">
  </head>
  <body>      
    <header>
      <!-- Utilisation d'une checkbox -->
      <input type="checkbox" id="hamburger">
      <!-- Label de la checkbox -->
      <label id="hamburger-logo" for="hamburger">☰</label>
      <nav>
        <ul>
        {% for liste in menu %}
          <li class="deroulant"><a href={{ url_for(liste[0]) }}>{{ liste[0] }}</a>
            <ul class="sous">
              {% for item in liste %}
                {% if item != liste[0] %}              
                  <li><a href={{ url_for(item) }}>{{ item }}</a></li>
                {% endif %}
              {% endfor %}
            </ul>
          </li>
        {% endfor %}
      </ul>
      </nav> 
    </header>  
    <main>
        <div>
          <section>
            {% block content %}{% endblock %}
          </section>
        </div>
    </main>
    <footer>
      <div>
        <p>Autohébergé sur un Raspberry Pi.</p>
        <p>Site fait par MatBarr.</p>
        <p>Les images sont tirées soit de Wikipedia, soit crées par moi-même.</p>
        <p>Licence Creative Common.</p>
      </div> 
    </footer>
  </body>
</html>