{% extends 'base.html' %}

{% block content %}

<p>Vous pouvez naviguer grâce à la navbar en haut.</p>
<p></p>
<p>Ce site a plusieurs buts :</p>
<p>Me faire apprendre par la pratique. (le but est de tout faire de A à Z).</p>
<p>Présenter mes différentes compétences et me créer aussi un pense-bête. </p>
<br>
<p>Il y a 3 sujets principaux :</p>
<ul>
    <li>Le réseau</li>
    <li>Le web</li>
    <li>La data</li>
</ul>
<br>
<p>La partie réseau va vous présenter les bases du réseau et vous expliquer comment faire par exemple de l'auto-hébergement ou de l'hébergement cloud.</p>
<p></p>
<p>La partie web vous informe sur les différentes technologies pour le partage web. (des simples pages html comme celle-ci aux applications).</p>
<p></p>
<p>La partie Data va vous fournir des accès à des sources ouvertes de données, mais aussi vous présenter des outils pour les analyser.</p>
<p></p>
<p>Ce site va être en évolution perpétuelle. Certaines pages peuvent être en cours de construction.</p>

{% endblock %}