{% extends 'base.html' %}

{% block content %}

<p>Vous pouvez naviguer grâce à la navbar en haut.</p>
<p></p>
<p>Ce site a plusieurs buts :</p>
<p>Me faire apprendre par la pratique. (le but est de tout faire de A à Z).</p>
<p>Présenter mes différentes compétences et me créer aussi un pense-bête. </p>
<br>
<p>Il y a 3 sujets principaux :</p>
<ul>
    <li>Le réseau</li>
    <li>Le web</li>
    <li>La data</li>
</ul>
<br>
<p>La partie réseau va vous présenter les bases du réseau et vous expliquer comment faire par exemple de l'auto-hébergement ou de l'hébergement cloud.</p>
<p>La partie web vous informe sur les différentes technologies pour le partage web. (des simples pages html comme celle-ci aux applications).</p>
<p>La partie Data va vous fournir des accès à des sources ouvertes de données, mais aussi vous présenter des outils pour les analyser.</p>
<br>
<p>Si vous voulez une sorte de fil rouge, je vous propose ce chemin qui permet de faire son site autohébergé : </p>
<ol>
    <li><a href={{ url_for('Git') }}>Git</a> : comment sauvegarder son code</li>
    <li><a href={{ url_for('HTML') }} >HTML/CSS</a> : Faire son premier site statique</li>
    <li><a href={{ url_for('SQL') }} >SQL</a> : pour les bases de données</li>
    <li><a href={{ url_for('Python') }} >Python</a> : les bases</li>
    <li><a href={{ url_for('Flask') }} >Flask</a> : Python qui gère le site web</li>
    <li><a href={{ url_for('Jinja') }} >Jinja</a> : Générateur de page HTML</li>
    <li><a href={{ url_for('Gunicorn') }} >Gunicorn</a> : WSGI pour flask ou django</li>
    <li><a href={{ url_for('Podman') }} >Podman</a> : conteneurisation des applications</li>
    <li><a href={{ url_for('Certificat') }} >Certificats</a> : pour le https</li>
    <li><a href={{ url_for('Autohébergement') }} >Autohébergement</a> : L'hebergement, je le fait moi même</li>
    <li><a href={{ url_for('Monitoring') }} >Monitoring</a> : Un minimun de surveillance pour son serveur, et les autres ordinateurs</li>
</ol>
<p>Ce fil rouge ne passe pas par tout le site. (La partie Data est relativement absentes par exemple.)</p>
<p>Soyez curieux et allez où vous avez besoin.</p>
<br>
<p>Ce site va être en évolution perpétuelle. Certaines pages peuvent être en cours de construction.</p>

{% endblock %}