{% extends 'base.html' %}

{% block content %}

<h1>Réseaux</h1>
Vous trouverez sur la barre de navigation latérale mes projets réseaux :<br>
<ul>
    <li>Auto-hébergement : Installation d'un serveur web sur un rasberry pi.</li>
    <li>Monitoring : Mise en place d'une surveillance du serveur pi.</li>
    <li>Podman/Kube : Déploiement de conteneurs</li>
    <li>Proxy : Mise en place d'un proxy.</li>
    <li>Certificat : Mise en place d'un certificat SSL à l'aide de certbot.</li>
</ul>

{% endblock %}