{% extends 'base.html' %}

{% block content %}

<h1>Auto-Hébergement</h1>

<p>Le but de cette page est de vous décrire comment héberger votre petit site web chez vous.</p>
<p></p>
<p>Matériel :</p><ul>
    <li>routeur (ou machin box).</li>
    <li>Une adresse IP statique avec les ports 80 et 443 disponibles.</li>
    <li>Un ordinateur pouvant servir de serveur.</li>
    <li>Du temps.</li>
</ul>
<p>Pour le serveur, j'ai utilisé un Raspberry pi 5 avec Rasbian. Ma machin-box est une freebox Pop.</p>
<div><img src={{ url_for('static', filename='img/autohebergement/23551-Raspberry-Pi-5-8G.jpg') }} alt="Rasberry pi 5" width="200"></div>
<div><img src={{ url_for('static', filename='img/autohebergement/Freebox_Pop_Server_V8.jpg') }} alt="Freebox V8" width="200"></div>
<p></p>
<p></p>
<p>Alors pour commencer, il faut comprendre comment on obtient une page internet à partir d'une adresse internet. Je vous ai préparé le schéma suivant :</p>
<div><img src={{ url_for('static', filename='img/autohebergement/fonctionnement_internet.png') }} alt="schema internet" width="500"></div>
<ol>
    <li>Le client demande une IP lié à adresse internet aux serveurs DNS.</li>
    <li>Le serveur DNS envoie une adresse IP.</li>
    <li>Le client demande au serveur, situé à l'adresse IP, la page internet.</li>
    <li>Le serveur envoie la page demandée.</li>
    <li>Le client affiche la page.</li>
</ol>
<p>Je considère que vous avez déjà un site internet, sinon vous pouvez utiliser ce site ou un hello world.</p>
<p>Vous pouvez trouver le code de ce site <a href="https://github.com/barrmath/piweb" target="_blank">ici.</a></p>
<p>Vous pouvez trouver un hello world pour un site html 
    <a href="https://www.educative.io/answers/how-to-write-hello-world-in-html" target="_blank">ici.</a></p>
<br>
<p>Pour effectuer cet auto-hébergement, on va y aller par étape :</p>
    <ol>
        <li>Mettre le site sur le réseau local.</li>
        <li>Mettre le site sur Internet en passant par l'adresse IP.</li>
        <li>Configurer un nom de domaine pour associer adresse IP et nom de domaine.</li>
    </ol>
<h2>1)Mettre le site sur le réseau local.</h2>
<p>J'utilise <a href="https://nginx.org/en/" target="_blank">Nginx</a> pour mettre en place mon site.</p>
<p>En cas de soucis,vous pouvez trouver un tuto <a href="http://nginx.org/en/docs/beginners_guide.html" target="_blank">ici.</a></p>
<p></p>
<p>La commande pour l'installer est simple :</p>
<pre><code class="bash">apt-get install nginx</code></pre>
<p>modifier le fichier etc/nginx/nginc.conf pour qu'il envoie votre site.</p>
<pre><code class="yaml">http &#123;
# plein d'option par defaut&lt;          
    server &#123;
        server_name  votre_nom_de_domaine.truc;
        location / {
            proxy_pass acces_de_votre_site_en_local;
        }

        #error_page  404              /404.html;
        listen 80; #port d'ecoute de nginx
</code></pre>
<p>Maintenant, il faut démarrer Nginx et le mettre en enable sur systemd.</p>
<pre><code class="bash">systemctl enable nginx
systemctl start nginx
systemctl status nginx
</code></pre>
<p>Le status devrait indiquer ceci :</p>
<pre><code class="bash">● nginx.service - A high performance web server and a reverse proxy server
Loaded: loaded (/lib/systemd/system/nginx.service; enabled; preset: enabled)
Active: active (running) since Sun 2024-08-25 21:46:39 BST; 1 week 0 days ago
</code></pre>
<p>Maintenant que le site est en local avec Nginx il suffit de trouver l'adresse IP de votre Serveur.</p>
<p>Plusieurs options s'offrent à vous :</p>
<p>
    Une commande depuis un terminal du serveur:
</p>
<pre><code class="bash">foo@bar: ip address
2: eth0: &lt;BROADCAST,MULTICAST,UP,LOWER_UP> mtu 1500 qdisc pfifo_fast state UP group default qlen 1000
    link/ether XX:XX:XX:XX:XX:XX brd XX:XX:XX:XX:XX:XX
    inet XXX.XXX.XXX.XXX/XXX brd XXX.XXX.XXX.XXX scope global dynamic noprefixroute eth0
        valid_lft 28628sec preferred_lft 28628sec
    inet6 XXXX:XXXX:XXXX:XXXX:XXXX:XXXX:XXXX:XXXX/XX scope global dynamic noprefixroute 
        valid_lft 86229sec preferred_lft 86229sec
    inet6 XXXX:XXXX:XXXX:XXXX:XXXX:XXXX/XX scope link noprefixroute 
        valid_lft forever preferred_lft forever
</code></pre>
    <p>Pour les anciennes versions :</p>
<pre><code class="bash">foo@bar: ifconfig
    eth0: flags=4163&lt;UP,BROADCAST,RUNNING,MULTICAST>  mtu 1500
    inet xxx.xxx.xxx.xxx  netmask xxx.xxx.xxx.xxx  broadcast xxx.xxx.xxx.xxx
    inet6 xxxx:xxxx:xxxx:xxxx:xxxx:xxxx:xxxx  prefixlen xx  scopeid xxxxxx&lt;global>
    inet6 xxxx:xxxx:xxxx:xxxx:xxxx:xxxx  prefixlen xxxx  scopeid xxxxx&lt;link>
</code></pre>
<p>dans le routeur :</p>
    <div><img src="{{ url_for('static', filename='img/autohebergement/freeboxosIPPI.png') }}" alt="Freebox IP du serveur"></div>

<p>Pour tester votre site en local, taper l'adresse IP et le port dans un navigateur si vous n'utilisez pas le port 80.</p>
<div><img src="{{ url_for('static', filename='img/autohebergement/hello_local.png') }}" alt="hello local serveur"></div>
<p></p>
<p>Félicitation pour cette première étape.</p>


<h2>2) Mettre le site sur Internet en passant par l'adresse IP.</h2>


<p>Je considère que vous avez une adresse IP fullstack. Changer le port d'entrée si votre fournisseur vous interdit le port 80.</p>
<p></p>
<p>Pour faire cela 2 solutions :</p>
<p>Le 
    <a href="https://fr.wikipedia.org/wiki/Zone_d%C3%A9militaris%C3%A9e_(informatique)" target="_blank">DMZ</a>
    ou le routage de ports</p>
<p>Je vais pratiquer le plus simple, le routage de port(la DMZ n'étant pas possible avec toutes les box).</p>
<p>Depuis l'interface Freebox, aller dans paramètres de la Freebox puis cliquer sur Mode avancé.</p>
<p>Cliquer sur Gestion des ports.</p><p></p>
<div><img src="{{ url_for('static', filename='img/autohebergement/menu_routage.png') }}" alt="hello local serveur"></div>
<div><img src="{{ url_for('static', filename='img/autohebergement/Gestion_ports.png') }}" alt="gestion port"></div>
<p>Cliquer sur ajouter une redirection : </p>
<div><img src="{{ url_for('static', filename='img/autohebergement/Redirection_port.png') }}" alt="redirection port"></div>
<p><b>IP destination :</b> mettre l'adresse du server (ou son nom)</p>
<p>cocher la redirection active </p>
<p><b>IP source :</b> mettre "toutes"</p>
<p><b>Protocole :</b> TCP</p>
<p><b>Port de début/fin :</b> 80</p>
<p><b>Port de destination :</b> mettre votre port pour votre site(dans listen nginx)</p>
<p><b>commentaire :</b>Port d'entrée serveur nginx site perso</p>
<p>Puis cliquer sur sauvegarder.</p>
<p>Trouver votre adresse IP soit en regardant le routeur, soit en allant sur ce site :
    <a href="https://whatismyipaddress.com/fr/mon-ip" target="_blank">https://whatismyipaddress.com/fr/mon-ip</a></p>
<p>Ouvrir un navigateur pour tester avec l'adresse Ip indiquée puis le numero de port. adresse_IP:Numero_port </p>
<p>Votre site devrait s'afficher.</p>


<h2>3) Configurer un nom de domaine pour associer adresse IP et nom de domaine.</h2>


<p>Pour les noms de domaine freebox gratuit avec un abonnement : cliquer sur nom de domaine -> ajouter un nom de domaine Freebox.</p>
<p>Entrer le nom de domaine souhaité puis valider. Au bout de quelques minutes, votre nom de domaine devrait être actif. (et Free configure les DNS)</p>
<p>Pour un vrai nom de domaine : contacter un fournisseur par exemple <a href="https://www.ovhcloud.com/fr/domains/" target="_blank">OVH</a>.</p>
<p>Il faudra passer par leurs DNS management pour faire pointer votre nom de domaine vers votre adresse IP.</p>
<p></p>
<p>Si tout se passe bien, vous avez votre site en ligne.</p>

{% endblock %}