@media screen and (min-width:640px){
    section{
        margin-top: 100px;
    }
}
section{
    list-style: inside;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.code{
    background-color: #000;
    color: rgb(75, 255, 120);
    padding-left: 0.625rem;
    padding-right: 0.625rem;
  }