/*Reset CSS*/
*{
  margin: 0px;
  padding: 0px;
  color:#000000;
}

nav{
  width: 100%;
  margin: 0 auto;
  color:#ffffff;
  border-bottom: 2px solid #8fd9fc;
  background-color: #333;
  top: 0px;
}

nav ul{
  list-style-type:none;
}

nav ul li{
  float: left;
  width: 10%;
  min-width: 150px;
  text-align: center;
  position: relative;
}

nav ul::after{
  content: "";
  display: table;
  clear: both;
}

nav a{
  display: block;
  text-decoration: none;
  padding: 10px 0px;
  color:#ffffff;
}

nav a:hover{
  color: orange;
}

.sous{
  display: none;
  box-shadow: 0px 1px 2px #CCC;
  background-color: #333;
  position: absolute;
  width: 100%;
  z-index: 1000;
}
nav > ul li:hover .sous{
  display: block;
}
.sous li{
  float: none;
  width: 100%;
  text-align: left;
}
.sous a{
  padding: 10px;
  border-bottom: none;
}
.sous a:hover{
  border-bottom: none;
}
.deroulant > a::after{
  font-size: 12px;
}


.code{
  background-color: #000;
  color: rgb(75, 255, 120);
  padding-left: 0.625rem;
  padding-right: 0.625rem;
}

footer{
  background-color: #333;
  padding-bottom: 100%;
  border-top:solid #8fd9fc;
}

.pied_de_page{
  color: #ffffff;
}
