{% extends 'base.html' %}

{%block content %}
<p>
  <h1>Python</h1>
  <h2>Introduction</h2>
  <a href="https://www.python.org/"></a>Python est un langage de programmation interprété. Ainsi, il est indépendant de la machine tant que vous pouvez installer python sur celle-ci. Par contre, vous devez installer python.
  Il peut servir pour faire de la data science, du web, des scripts pour les administrateurs, ... Bref, il est assez polyvalent.
  En tant que langage interprété, (et non compilé), il a des performances en retrait par rapport a du C par exemple.<br>
  Il a comme avantage d'être simple, et relativement intuitif.<br>
  On va voir les objets de base de python, les fonctions simples de python, puis la gestion des bibliothèques et des environnements python.<br> 

  <h2>Objets de base</h2>
  <h3>Les Variables</h3>
  <h3>Les Listes</h3>
  <h3>Les dictionnaires</h3>

  <h2>Conditions, Boucles, Fonctions</h2>
  <h3>Conditions</h3>
  <h3>Boucles</h3>
  <h3>Fonctions</h3>
  <h4>Recursivité</h4>

  <h2>Environnmement, Pip et bibliothèques/modules</h2>
  <h3>Pip</h3>
  <h3>Environnemnt local</h3>
  <h3>Environnement virtuel</h3>
  <h3>gestion des paquets et requirements.txt</h3>

  <h2>Conclusion</h2>
</p>

{% endblock %}