{% extends 'base.html' %}

{%block content %}
<p>
  <h1>SQL Work In Progress</h1>
  Ce langage permet de faire des demandes à une base de données relationnelle.<br>
  Pour vulgariser, je vais faire un parallèle avec un tableur connu Excel.<br>
  Je reviendrai en conclusion sur les différences (assez importantes) entre une Base de données et un simple fichier excel.<br>

  Les bases de données sont constituer des élements suivants :<br>
  <ul>
      <ol>Le Gestionnaire de Base de Données (GBDD)</ol>
      <ol>La Base De Données (BDD)</ol>
      <ol>Les Tables</ol>
      <ol>Les Colonnes</ol>
  </ul>
  Pour faire le parallèle : le gestionnaire est le programme excel, la base de données est un fichier excel, les tables des feuille de calcul et les colonnes, les colonnes.<br>
  Avant de faire du SQL, il faut donc au minimun installée un Gestionnaire de base de données. On peut installer ceux-ci en local, par conteneur ou en louer sur le cloud.<br>
  <h2>Le gestionnaire de Base de données</h2>
  Il existe 2 type de gestionnaire de base de données, les SQL et les autres.<br>
  On peut citer par exemple <a href="https://www.mongodb.com/fr-fr">MongoDB</a>, <a href="https://hbase.apache.org/">Apache Hbase</a> en temps que base de donnée noSQL.<br>
  Les gestionnaires de bases de données SQL les plus couramment utilisés sont :
  <ul>
      <li><a href="https://www.sqlite.org/">SQL lite</a> : pour des petits projets ou le developpement</li>
      <li><a href="https://www.mysql.com/fr/">mySQL</a> : Une des plus connu</li>
      <li><a href="https://mariadb.org/">mariaDB</a> : une BDD open source basé sur mySQL</li>
      <li><a href="https://www.microsoft.com/fr-fr/sql-server/sql-server-downloads">Microsoft SQL server</a> : Une base de donnée de microsoft</li>
      <li><a href="https://www.postgresql.org/">PostgreSQL</a> : Une autre base de donnée opensource très performante</li>
  </ul>
  Toutes ces gestionnaire de bases de données existent souvent en version cloud. Les fournisseurs cloud peuvent vous fournir leurs propres gestionnaire de base de données.<br>
  Par exemple : <a href="https://aws.amazon.com/fr/rds/aurora/?nc2=h_ql_prod_db_aa">Aurora</a> chez aws, <a href="https://cloud.google.com/sql/">cloud SQL</a> pour gcp, ...<br>
  Pour la suite, je prends exemple sur mariaDB.<br>
  <h3>installation</h3>
  Pour les debian et autre linux on peut passer par apt : apt-get install mariadb-serveur<br>
  On peux aussi passer par docker/podman compose avec par exemple ce fichier docker-compose.yml (à ne pas utiliser en production merci) :
  <xmp class="code">
version: "3.9"
volumes:
  data:
services:
  db:
    image: docker.io/mariadb
    environment:
      MYSQL_ROOT_PASSWORD: password
      MYSQL_DATABASE: mydatabase
      MYSQL_USER: user
      MYSQL_PASSWORD: password
    volumes:
      - data:/var/lib/mysql
    ports:
      - "3306:3306"
  </xmp>
  Et on lance avec la commande <div class="code">podman-compose up -d</div>
  La commande <div class="code">podman-compose down</div> pour fermer MariaDb.<br>
  J'utilise <a href="https://dbeaver.io/">Dbeaver</a> pour communiquer facilement avec des bases de données. La version community suffit pour MariaDB.<br>
  Il faudrat certainment installler un connecteur (ici jdbc). Configurons maintenant la connection à votre base de données locale :<br>
  cliquer sur base de donnée puis sur nouvelle connection<br>
  <img src="{{ url_for('static', filename='img/SQL/dbeaver_menu.png')}}" alt="gmenu Dbeaver"></img><br>
  Selectionner MariaDB<br>
  <img src="{{ url_for('static', filename='img/SQL/dbeaver_selection.png')}}" alt="selection DBeaver"></img><br>
  Puis mettre tout les resnseignements pour ce connecter (user, password, cle ssh, port adresse de la BDD, ... )
  <img src="{{ url_for('static', filename='img/SQL/dbeaver_config.png')}}" alt="config DBeaver"></img><br>
  On va pouvoir créer/modifier et faire quelque requete SQL grâce à ce logiciel.<br>
  <h2>Création d'une base de données</h2>
  Avec DBeaver 2 methodes pour créer des bases de données, le script SQL ou les fonctions faciles de DBeaver.<br>
  Méthode facile : derouler votre connecteur puis clic droit sur Database ou base de donnée puis créer base de données<br>
  Ensuite donner lui un nom configurer les caracteres (UTF 8 16 32 ACII ...). Plus d'info <a href="https://en.wikipedia.org/wiki/List_of_Unicode_characters">ici</a>.<br>
  <img src="{{ url_for('static', filename='img/SQL/dbeaver_creation_base.png')}}" alt="creation base DBeaver"></img><br>
  Vous pouvez aussi créer un script SQl menu Editeur SQL -> Nouveau script.<br>
  <img src="{{ url_for('static', filename='img/SQL/dbeaver_create_database_script.png')}}" alt="creation base DBeaver"></img><br>
  Les deux méthodes marchent. Les scripts peuvent être utile si vous avez besoin de répéter plusieurs fois la même opération.<br>
  Félicitation vous venez de créer votre premiere base de données. (votre premier fichier excel)
  <h2>Les tables</h2>
  À titre de comparaison, vous avez maintenant une base de données vides, on va la remplir avec des tables.<br>
  Sous excel vous créer des feuilles de calcul pour les remplir avec vos données dans votre ficher.<br>
  Commençons par notre premiere table Client.<br>
  Vous pouvez sois utiliser les fonctions de Dbeaver sois taper du script.<br>
  clic droit sur tables créer une nouvelle table puis remplisser les informations.<br>
  clic droit dans la fenetre à droite pour créer des colonnes (une colonne ID en cle primaire unsigned int et 2 autres en varchar pour nom et prenom)
  <img src="{{ url_for('static', filename='img/SQL/dbeaver_create_table.png')}}" alt="creation table DBeaver"></img><br>
  Alors la "magie de DBeaver" cliquér sur sauvegarder et appliquer en bas à droite et il vous donne le scripts à appliquer.<br>
  <img src="{{ url_for('static', filename='img/SQL/dbeaver_script_auto.png')}}" alt="script auto DBeaver"></img><br>
  Sauvegarder le script pour une utilisation repetitive le modifier ou juste l'appliquer.<br>
  Mettre des lignes en éditant les données. Onglet données clic droit dans la premiere colonne avec les numéros edité ajouter une ligne.<br>
  <img src="{{ url_for('static', filename='img/SQL/dbeaver_ajout_ligne.png')}}" alt="ajout ligne DBeaver"></img><br>
  On peut créer une table achat pour savoir ce qu'on acheter les clients.<br>
  <img src="{{ url_for('static', filename='img/SQL/dbeaver_achat.png')}}" alt="creation achatDBeaver"></img><br>
  On créer une cle primaire pour retrouver les achats et une clé etrangere pour lier la table client et achats<br>
  <img src="{{ url_for('static', filename='img/SQL/cle_etrangere.png')}}" alt="cle etrangere"></img><br>
  Vous pouvez importer les données à la main, ou importer les données avec des fichiers csv, un copie de base de donnée assez simplement avec dbeaver.<br>
  Par exemple clic droit sur la table importer ou exporter les données.<br>
  Félicitation vous avez créer vos premières tables.<br>
  <h2>Les requêtes SQL</h2>
  Les requêtes servent à calculer chercher, ajouter, ...<br>
  C'est un comme les formules sur excel.<br>
  Personnellement, je les utilise sois pour faire du developement (site web, script automatique), sois pour faire un tableau du bord (grafana, powerBI, ...).<br>

  <h2>Conclusion</h2>
  
</p>

{% endblock %}