{% extends 'base.html' %}

{% block content %}
<h1>SQL</h1>
<p>Ce langage permet de faire des demandes à une base de données relationnelles.</p>
<p>Pour vulgariser, je vais faire un parallèle avec un tableur connu Excel.</p>
<p>Je reviendrai en conclusion sur les différences (assez importantes) entre une base de données et un simple fichier Excel.</p>

<p>Les bases de données sont constituées des éléments suivants :</p>
<ul>
    <ol>Le Gestionnaire de Bases de Données (GBDD)</ol>
    <ol>La Base De Données (BDD)</ol>
    <ol>Les Tables</ol>
    <ol>Les Colonnes</ol>
</ul>
<p>Pour faire le parallèle : le gestionnaire est le programme Excel, la base de données est un fichier Excel, les tables des feuilles de calcul et les colonnes, les colonnes.</p>
<p>Avant de faire du SQL, il faut donc au minimum installée un Gestionnaire de base de données. On peut installer ceux-ci en local, par conteneur ou en louer sur le cloud.</p>
<h2>Le gestionnaire de Base de données</h2>
<p>Il existe 2 types de gestionnaire de bases de données, les SQL et les autres.</p>
<p>On peut citer par exemple <a href="https://www.mongodb.com/fr-fr">MongoDB</a>, <a href="https://hbase.apache.org/">Apache Hbase</a> en tant que base de données noSQL.</p>
<p>Les gestionnaires de bases de données SQL les plus couramment utilisés sont :<p>
<ul>
    <li><a href="https://www.sqlite.org/">SQL lite</a> : pour des petits projets ou le développement</li>
    <li><a href="https://www.mysql.com/fr/">mySQL</a> : une des plus connues</li>
    <li><a href="https://mariadb.org/">mariaDB</a> : une BDD open source basée sur mySQL</li>
    <li><a href="https://www.microsoft.com/fr-fr/sql-server/sql-server-downloads">Microsoft SQL server</a> : Une base de données de Microsoft</li>
    <li><a href="https://www.postgresql.org/">PostgreSQL</a> : une autre base de données open source très performante</li>
</ul>
<p>Toutes ces gestionnaires de bases de données existent souvent en version cloud. Les fournisseurs cloud peuvent vous fournir leurs propres gestionnaires de bases de données.</p>
<p>Par exemple : <a href="https://aws.amazon.com/fr/rds/aurora/?nc2=h_ql_prod_db_aa">Aurora</a> chez aws, <a href="https://cloud.google.com/sql/">cloud SQL</a> pour gcp, ...</p>
<p>Pour la suite, je prends exemple sur mariaDB.</p>
<h3>Installation</h3>
<p>Pour les Debian et autre Linux on peut passer par apt : apt-get install mariadb-serveur</p>
<p>On peut aussi passer par docker/podman compose avec par exemple ce fichier docker-compose.yml (à ne pas utiliser en production merci) :</p>
<pre><code class="YAML">version: "3.9"
volumes:
  data:
services:
  db:
    image: docker.io/mariadb
    environment:
      MYSQL_ROOT_PASSWORD: password
      MYSQL_DATABASE: mydatabase
      MYSQL_USER: user
      MYSQL_PASSWORD: password
    volumes:
      - data:/var/lib/mysql
    ports:
      - "3306:3306"
</code></pre>
<p>Et on lance avec la commande :</p><pre><code class="bash">podman-compose up -d</code></pre>
<p>La commande : </p><pre><code class="bash">podman-compose down</code></pre> <p>pour fermer MariaDb. </p>
<p>J'utilise <a href="https://dbeaver.io/">Dbeaver</a> pour communiquer facilement avec des bases de données. La version community suffit pour MariaDB.</p>
<p>Il faudra certainement installer un connecteur (ici jdbc). Configurons maintenant la connexion à votre base de données locale :</p>
<p>Cliquer sur base de données puis sur nouvelle connexion</p>
<div><img src="{{ url_for('static', filename='img/SQL/dbeaver_menu.png')}}" alt="gmenu Dbeaver"></div>
<p>Selectionner MariaDB</p>
<div><img src="{{ url_for('static', filename='img/SQL/dbeaver_selection.png')}}" alt="selection DBeaver"></div>
<p>Puis mettre tous les resnseignements pour se connecter (user, password, cle ssh, port adresse de la BDD, ... )
<div><img src="{{ url_for('static', filename='img/SQL/dbeaver_config.png')}}" alt="config DBeaver"></div>
<p>On va pouvoir créer/modifier et faire quelque requête SQL grâce à ce logiciel.</p>
<h2>Création d'une base de données</h2>
<p>Avec DBeaver 2 méthodes pour créer des bases de données, le script SQL ou les fonctions faciles de DBeaver.</p>
<p>Méthode facile : dérouler votre connecteur puis clic droit sur Database ou base de données puis créer base de données</p>
<p>Ensuite donner lui un nom configurer les caractères (UTF 8 16 32 ACII ...). Plus d'info <a href="https://en.wikipedia.org/wiki/List_of_Unicode_characters">ici</a>.</p>
<div><img src="{{ url_for('static', filename='img/SQL/dbeaver_creation_base.png')}}" alt="creation base DBeaver"></div>
<p>Vous pouvez aussi créer un script SQl menu Editeur SQL -> Nouveau script.<br>
<div><img src="{{ url_for('static', filename='img/SQL/dbeaver_create_database_script.png')}}" alt="creation base DBeaver"></div>
<p>Les deux méthodes marchent. Les scripts peuvent être utiles si vous avez besoin de répéter plusieurs fois la même opération.</p>
<p>Félicitation, vous venez de créer votre première base de données. (votre premier fichier Excel)</p>
<h2>Les tables</h2>
<p>À titre de comparaison, vous avez maintenant une base de données vides, on va la remplir avec des tables.</p>
<p>Sous Excel vous créer des feuilles de calcul pour les remplir avec vos données dans votre ficher.</p>
<p>Commençons par notre première table Client.</p>
<p>Vous pouvez sois utiliser les fonctions de Dbeaver sois taper du script.</p>
<p>Clic droit sur tables, créer une nouvelle table puis remplisser les informations.</p>
<p>Clic droit dans la fenêtre à droite pour créer des colonnes (une colonne ID en clé primaire unsigned int et 2 autres en varchar pour nom et prenom)</p>
<div><img src="{{ url_for('static', filename='img/SQL/dbeaver_create_table.png')}}" alt="creation table DBeaver"></div>
<p>Alors la "magie de DBeaver" cliquer sur sauvegarder et appliquer en bas à droite et il vous donne le script à appliquer.</p>
<div><img src="{{ url_for('static', filename='img/SQL/dbeaver_script_auto.png')}}" alt="script auto DBeaver"></div>
<p>Sauvegarder le script pour une utilisation répétitive le modifier ou juste l'appliquer.</p>
<p>Mettre des lignes en éditant les données. Onglet données clic droit dans la première colonne avec les numéros editer-> ajouter une ligne.</p>
<div><img src="{{ url_for('static', filename='img/SQL/dbeaver_ajout_ligne.png')}}" alt="ajout ligne DBeaver"></div>
<p>On peut créer une table achat pour savoir ce qu'on acheter les clients.</p>
<div><img src="{{ url_for('static', filename='img/SQL/dbeaver_achat.png')}}" alt="creation achatDBeaver"></div>
<p>On crée une clé primaire pour retrouver les achats et une clé étrangère pour lier la table client et achats</p>
<div><img src="{{ url_for('static', filename='img/SQL/cle_etrangere.png')}}" alt="cle etrangere"></div>
<p>Vous pouvez importer les données à la main, ou importer les données avec des fichiers csv, avec DBeaver.</p>
<p>Par exemple clic droit sur la table importer ou exporter les données.<br>
<p>Félicitation, vous avez créé vos premières tables.</p>
<h2>Les requêtes SQL</h2>
<p>Les requêtes servent à calculer,chercher, ajouter, ...</p>
<p>C'est comme les formules sur Excel.</p>
<p>Personnellement, je les utilise sois pour faire du dévelopement (site web, script automatique), sois pour faire un tableau du bord (grafana, powerBI, ...).</p>
<p>Commençons par une première requête pour voir.</p>
<p>Cliquer sur la base de données puis selectionner nouveau script. (ça permet de selectionner la base de données, sinon utilise USE DATABASE dans le script).</p>
<pre><code class="sql">SELECT prenom FROM Clients;</code></pre>
<p>Cliquer sur les fléches pour exécuter la requête une sortie devrait apparaître en bas.</p>
<div><img src="{{ url_for('static', filename='img/SQL/requete1.png')}}" alt="requete1"></div>
<p>Analysons la requête :</p>
<ul>
  <li>SELECT colonne : sélectionne la colonne ou les colonnes séparées par une virgule, * si vous voulez toutes les colonnes</li>
  <li>FROM table : sélectionne dans quelle table vous voulez faire la requête</li>
  <li>; : indique la fin de la requête.</li>
  </ul>
<p>Alors comment faire pour extraire le nom du client avec les produits achetés ?</p>
<p>Il faut faire une <a href="https://sql.sh/cours/jointures">jointure</a> (les fameuses clés servent à ça).</p>
<p>Si les clés fonctionnent, DBeaver vous donne un aperçu dans le diagramme ER:</p>
<div><img src="{{ url_for('static', filename='img/SQL/diagramme.png')}}" alt="diagramme ER"></div>
<p>Donc taper dans le script et exécuter:</p>
<pre><code class="sql">SELECT * FROM achat 
JOIN Clients ON BDD_a_moi.Clients.IdClient = BDD_a_moi.achat.idClient;
</code></pre>
<div><img src="{{ url_for('static', filename='img/SQL/requete2.png')}}" alt="requete2"></div>
<p>Vous ne voulez que les achats de poissons ?</p>
<p>Rajouter </p><pre><code class="sql">WHERE produit = "poisson"</code></pre>
<div><img src="{{ url_for('static', filename='img/SQL/requete3.png')}}" alt="requete3"></div>
<p>Il existe d'autres fonctions en SQL pour aller plus loin, je vous conseille le site <a href="https://sql.sh/">https://sql.sh/</a></p><p>
<h2>Conclusion</h2>
<p>Alors j'ai déjà entendu : </p>
<p>C'est bien beau, mais je sais tout faire sur Excel, pourquoi utiliser une BDD?</p>
<p>Un fichier Excel va être bloqué à chaque écriture/lecture. Donc il est accessible à une personne à la fois. (ça change avec le cloud)</p>
<p>On peut, avec les BDD, les dupliquer, faire des redondances pour avoir une BDD disponible à 100 % .</p>
<p>Mais s'il faut retenir une chose : <b>les BDD sont fiables.</b>
Pour rappel, les données d'un fichiers Excel ne peuvent pas dépasser <a href="https://support.microsoft.com/en-us/office/excel-specifications-and-limits-1672b34d-7043-467e-8e27-269d656771c3"> certaines limites.</a>
Donc j'espère par exemple que vous dépasserez le million de vente. Mais éviter de les enregistrer avec Excel vous risquer de tout perdre.</p>
<p>Comme les Anglais avec leurs tests covid : <a href="https://www.theguardian.com/politics/2020/oct/05/how-excel-may-have-caused-loss-of-16000-covid-tests-in-england">www.theguardian.com/</a></p>
<p></p>
<p>Donc pour conclure : un fichier Excel c'est pour un projet de très faible envergure.</p>
<p>Sinon il faut passer aux bases de données.</p>

{% endblock %}