{% extends 'base.html' %}

{% block content %}
<h1>Flask</h1>
<p><a href="https://flask.palletsprojects.com/en/3.0.x/">Flask</a> est un module python pour le web. Il fait office de back-end (un peu comme <a herf="https://www.php.net/manual/fr/intro-whatis.php">PHP</a>).</p>
<p>Il existe d'autres modules pour faire du web, par exemple :</p>
<ul>
    <li><a href="https://www.djangoproject.com/">Django</a></li>
    <li><a href="https://fastapi.tiangolo.com/">fastAPI</a></li>
</ul>
<p>Un petit descriptif pour chaque framework:</p>
<h3>Django</h3>
<p>Django est un framework très complets (Base de données intégrée, divers outils d'administrations). Mais si vous n'avez pas besoin de tous ces services, il risque d'être un peu lourd.</p>
<h3>Flask</h3>
<p>Flask est un framework très modulaire. Pas de gestion de Base de données (possible avec <a href="https://www.sqlalchemy.org/">SQLalchemy</a>) SI vous voulez des options, il faut en général installer un autre module.
Il a une approche opposée à Django qui est clé en main.</p>
<p>Les principaux avantages de Flask sont sa simplicité, et sa légèreté.</p>
<p>Le principal défaut, il faut rechercher un module à chaque option ce qui alourdit le framework.</p>
<h3>FastAPI</h3>
<p>Très ressemblant à Flask, il apporte des ajouts qui peuvent intéresser les développeurs. Un article les comparants se trouve <a href="https://www.pythoniste.fr/python/fastapi/les-differences-entre-les-frameworks-flask-et-fastapi/">ici</a>.</p>
<h2>Installation de l'environnement</h2>
<pre><code class="bash">pip install flask</code></pre>
<p> Il faudra peut être faire d'autres installations par la suite. Mais le simple flask suffit pour commencer.</p>
<h2>Utilisation</h2>
<p>Il y a deux utilisations type. Une première où vous créer une application. La deuxième ou vous créer une fonction qui fabrique l'application. (create factory).</p>
<p>Les deux méthodes possèdent des qualités et des défauts. Globalement créer une app est plus simple qu'une fonction créatrice.</p>
<p>La version create factory vous permet de créer plusieurs instances de votre application pour faire des tests et d'autres choses. Plus d'information <a href="https://flask.palletsprojects.com/en/3.0.x/patterns/appfactories/">ici</a>.</p> 
<h3>Arborescence</h3>
<p>On peut tout mettre dans un seul fichier avec Flask.</p>
<p>Mais disons simplement que c'est rapidement le bordel avec une application un peu trop grosse. Je conseille donc de faire au minimum une arborescence.</p>
<p>Mon application est architecturée comme cela :</p>
<pre><code class="python">.
├── README.md                        # Un fichier readme qui décris l'application et la mise en œuvre.
├── requirements. txt                # Un fichier qui liste les paquets python nécessaires
├── run.py                           # Le fichier de lancement de l'application
└── web_app                          # Le dossier qui contient l'application
    ├── __init__.py                  # Le fichier init pour créer un module python
    ├── static                       # Le dossier static pour les fichiers statiques (CSS, images, ...)
    ├── templates                    # Le dossier templates pour les templates html
    └── views.py                     # Le fichier qui vous permet de configurer les routes
</code></pre>
<p>Commençons par le fichier de lancement.</p>
<h3>run.py</h3>
<p>Le fichier de lancement d'une application flask.</p>
<pre><code class="python">from web_app import create_app

if __name__ == "__main__":
    # après verification, Gunicorn ne passe pas par la et se mets par defaut en debug=false
    app = create_app()
    app.run(debug=True, host="0.0.0.0", port=5000)
</code></pre>
<p>On importe du module la fonction créatrice.</p>
<p>if __name__ == "__main__":  permet d'exécuter les lignes indexées en dessous que si le fichier est exécuté par python.</p>
<p>Ainsi, vous pouvez activer le debug mode dans ce fichier run, mais si vous utilisez un serveur de production, le mode debug ne seras pas actif. Vous pouvez tester, on n'est jamais trop sûr.</p>
<p>app = create_app()    On crée un l'objet app.</p>
<p>app.run(debug=True, host="0.0.0.0", port=5000) on lance un serveur de DEVELOPPEMENT sur l'adresse local 0.0.0.0 et sur le port 5000 avec le mode debug.</p>
<p></p>
<p>Ce fichier va servir à 2 choses :</p>
<ul>
    <li>Lancer un serveur de DEVELOPPEMENT. (le serveur de flask n'est pas à utiliser en production, il faut utiliser un serveur de production)</li>
    <li>Donner des informations aux serveurs de production.</li>
</ul>
<h3>__init__.py</h3>
<p>On va modifier ce fichier pour créer la fonction créatrice.</p>
<pre><code class="python">from flask import Flask


def create_app():
    app = Flask(__name__, static_folder="static")

    #app.config.from_object("config")

    # routage des pages web

    with app.app_context():
        import web_app.views

    return app
</code></pre>
<p>Vous pouvez ajouter un fichier config.py pour configurer une base de données, des clés d'accès à des services ...</p>
<p>Attention, protéger bien vos clés et mots de passe. Pensez variables d'environnements, et utiliser le gitignore si vous avez un fichier avec des secrets.</p>
<h3>views.py</h3>
<p>Il définit les routes utilisées par l'application.</p>
<pre><code class="python"># import bibliothèque flask et création application flask
from flask import render_template, request, current_app, send_from_directory

app = current_app
... ... ... ...

@app.route("/robots.txt")
def static_from_root():
    return send_from_directory(app.static_folder, request.path[1:])

@app.route("/", methods=["GET", "POST"])
@app.route("/index/", methods=["GET", "POST"])
def Accueil():
    return render_template("index.html",liste_categorie=liste_categorie,categorie=liste_categorie[0])
</code></pre>
<p>On crée l'application et on définit les routes ici.</p>
<p>Vous avez un premier exemple avec le fichier <a href="https://robots-txt.com/">robots.txt</a>.</p>
<p>Vous en avez un deuxième avec la page index.</p>
<p>Vous définissez une ou plusieurs route avec @app.route (c'est un décorateur en python).</p>
<p>En dessous, vous définissez une fonction qui va retourner la page html.</p>
<h3>template, static et jinja2</h3>
<p>Flask est fourni avec le front-end jinja2. Vous pouvez utiliser un autre front-end comme React ou Angular.</p>
<p>On peut créer des pages html dans le dossier template et faire les routes avec views.</p>
<p>Mais imaginons que j'ai plein de code qui se répète dans toutes les pages html.</p>
<p>Par exemple, le fameux doctype et autre : pour éviter de tout recopier sur chaque page, autant écrire une base et demander à flask/jinja d'étendre la page html.</p>
<p>Exemple de fichier de base :</p>
<pre><code class="HTML"><xmp><!DOCTYPE html>
<html lang="fr">
    <head>
    <meta charset="utf-8"></xmp>
<pre>&#123;% block content %&#125;&#123;% endblock %&#125;</pre>    <xmp>
    </head>
</html></xmp>
</code></pre>
<p>Fichier qui utilise la base :</p>
<pre><code class="HTML">&#123;% extends 'base.html' %&#125;

&#123;%block content %&#125;
contenu de la page
&#123;% endblock %&#125;
</code></pre>
<p>Et voilà plus besoin de recopier le docktype partout. Vous pouvez bien sûr ajouter d'autre block que content comme footer ou autre en fonction de votre projet.</p>
<p>Et on peut encore aller plus loin.</p>
<p>Par exemple dans ma page base/html :</p>
<div><img src="{{ url_for('static', filename='img/flask/topnav.png')}}" alt="trop dur de faire en code"></div>
<p>La topbar est créée à partir d'une liste, et d'une catégorie envoyée par flask. Rappelez-vous de la fonction :</p>
<pre><code class="python">return render_template("index.html",liste_categorie=liste_categorie,categorie=liste_categorie[0])</code></pre>
<h2>Pour aller plus loin SQL alchemy, login</h2>
<p>Besoin d'une base de données :https://www.sqlalchemy.org/</p>
<p>Je conseille d'utiliser des variables d'environnement et un fichier config.py.</p>
<p>La base de données va, par exemple, servir à gérer des comptes qui vont se connecter à votre site. La gestion des connexions peut être faite avec flask-login.</p>
<p>Le fichiers views.py commence à prendre de l'embonpoint. Diviser le avec les blueprints</p>
<h2>Serveur de développement,gunicorn et serveur web</h2>
<p>Votre site est prêt, il est temps de tester. Lancer juste votre fichier run.py avec python.</p>
<pre><code class="bash">python run.py                                                                                 ✔ 
* Serving Flask app 'web_app'
* Debug mode: on
WARNING: This is a development server. Do not use it in a production deployment. Use a production WSGI server instead.
* Running on all addresses (0.0.0.0)
* Running on http://127.0.0.1:5000
Press CTRL+C to quit
* Restarting with stat
* Debugger is active!
* Debugger PIN: 330-144-452
</code></pre>
<p>Le serveur inclus dans Flask n'est pas prévu pour de fortes charges.</p>
<p>Il faut utiliser un <a href="https://perso.liris.cnrs.fr/pierre-antoine.champin/2017/progweb-python/cours/cm1.html">WSGI</a>, par exemple Gunicorn (pip install gunicorn).
Il faudra ensuite associer Gunicorn à un serveur web (apache ou nginx par exemple).</p>
{% endblock %}