{% extends 'base.html' %}

{% block content %}
<h1>Git</h1>


<h2>Qu'est-ce que Git</h2>

<p>Git est un logiciel de gestion de versionning. C'est à dire qu'il permet de revenir en arriére en cas de soucis. Bref une sorte de super sauvegarde.</p>
<p>Git est souvent associeé à GitHub ou Gitlab, qui permette de sauvegarder des projets sur le cloud.</p>
<p>C'est un outil qui est transveral au niveau du projet.</p>
<ul>
    <li>Les développeurs vont utiliser git pour sauvegarder leurs travails et faire plusieurs version</li>
    <li>Les administrateurs vont utiliser git pour pouvoir déployer les projets</li>
    <li>Les chefs de projets peuvent surveiller l'avancement des projets</li>
</ul>
<p>Pour faire simple Git est un indispensable dans le monde du développement actuel.</p>
<p>Au niveau de l'installation de git, sous linux utilisez votre gestionnaire de paquets (souvent Git est déjà installé). 
    Pour les windosiens : <a href="https://git-scm.com/downloads/win" target="_blank">https://git-scm.com/downloads/win</a>

<h2>Les repos Git local et "cloud"</h2>

<p>Le Terme Cloud, je l'utilise pour que les débutant comprennent le principe. Mais git utilise le terme remote.</p>
<p>Vous avez en général 2 repos (ou repository ou en français dossier) le repos local ou vous travailler et le repos remote ou cloud qui est distant.</p>
<p>Plusieurs service de remote existe :

<h2>Les commits</h2>


<h2>Les branches</h2>


<h2>Les commande git en ligne de commande</h2>


<h3>git init</h3>

<h3>git status</h3>

<h3>git add</h3>

<h3>git commit</h3>

<h3>git remote add origin</h3>

<h3>git push</h3>

<h3>git pull</h3>

<h3>git clone</h3>

<h2>La console Github</h2>


<h2>Débuter avec Git et Github: La méthode du débutant</h2>


{% endblock %}