{% extends 'base.html' %}

{%block content %}
<p>
  <h1>HTML</h1>
  Pourquoi apprendre le HTML (et le CSS) en 2024? Wordpress, Ionos font des sites internets en no code.<br>
  Je vais donner plusieurs raisons:
  <ul>
    <li>Si voulez un site leger pour rappel une page web fait la taille de <a href="https://www.clubic.com/mag/jeux-video/actualite-803876-page-web-moyenne-pese-doom.html">doom</a>.</li>
    <li>Vous aimer appliquer le KISS (Keep It Simple and Stupid)</li>
    <li>Vous trouvez pas votre bonheur dans les wordpress et autres</li>
    <li>Vous avez besoin de récupérer des données sur des sites web (webscrapping)</li>
  </ul>
  Commençons par le commencement le html puis ensuite le CSS.<br>
  <h2>HTML</h2>
  Premierement pour apprendre à faire des pages internets en pure HTML CSS vous avez besoin d'un navigateur internet et d'un editeur de texte.<br>
  N'ouvrez pas word ou autre suite bureautique, il nous faut du texte sans fioriture.<br>
  Pour les navigateurs internets, je recommande <a href="https://www.mozilla.org/fr/firefox/new/">firefox</a> et le <a href="https://www.mozilla.org/fr/firefox/developer/">firefox pour developpeur</a> pour aller plus loin<br>
  Pour les éditeurs de texte :<ul>
     <li>Éditeur simple : <a href="https://notepad-plus-plus.org/downloads/">notepad++</a></li>
     <li>Éditeur pour developpeur : <a href="https://vscodium.com/">vscodium</a></li>
    </ul>
</p>

{% endblock %}