{% extends 'base.html' %}

{% block content %}

<h1>HTML</h1>

<p>Pourquoi apprendre le HTML (et le CSS) en 2024? Wordpress, Ionos font des sites internet en no code.</p>
<p>Je vais donner plusieurs raisons :</p>
<ul>
  <li>Si voulez un site léger pour rappel une page web fait la taille de
     <a href="https://www.clubic.com/mag/jeux-video/actualite-803876-page-web-moyenne-pese-doom.html" target="_blank">doom</a>.</li>
  <li>Vous aimez appliquer le KISS (Keep It Simple and Stupid)</li>
  <li>Vous ne trouvez pas votre bonheur dans les wordpress et autres</li>
  <li>Vous avez besoin de récupérer des données sur des sites web (webscrapping)</li>
</ul>
<p>Commençons par le commencement le html puis ensuite le CSS.</p>


<h2>HTML</h2>


<p>Premièrement pour apprendre à faire des pages internet en pur HTML CSS vous avez besoin d'un navigateur internet et d'un éditeur de texte.</p>
<p>N'ouvrez pas word ou autre suite bureautique, il nous faut du texte sans fioriture.</p>
<p>Pour les navigateurs internet, je recommande <a href="https://www.mozilla.org/fr/firefox/new/" target="_blank">firefox</a> 
  et le <a href="https://www.mozilla.org/fr/firefox/developer/" target="_blank">firefox pour développeur</a> pour aller plus loin.</p>
<p>Pour les éditeurs de texte :</p>
<ul>
  <li>Éditeur simple : <a href="https://notepad-plus-plus.org/downloads/" target="_blank">notepad++</a></li>
  <li>Éditeur pour développeur : <a href="https://vscodium.com/" target="_blank">vscodium</a></li>
</ul>
<p></p>
<p>Ouvrez un éditeur de code, copier/coller le code en dessous et sauvegarder avec une extension .html.</p>
<pre><code class="HTML"><xmp><!DOCTYPE html>
<html lang="">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <header></header>
    <main>Hello World</main>
    <footer></footer>
  </body>
</html>
</xmp></code></pre>
<p>Ensuite, ouvrez le fichier avec votre navigateur.</p>
<div><img src="{{ url_for('static', filename='img/web/hello_html.png')}}" alt="Hello World"></div>
<p>Félicitation, vous voilà développeur.</p>
<p>Analysons un peu le code. On voit des balises ouvrantes &lt; mot > et fermantes &lt; /mot >.</p>
<p>La première balise </p><pre><code class="HTML"><xmp class="code"><!DOCTYPE html></xmp></code></pre><p> indique simplement qu'il s'agit d'une page HTML.</p>
<p>La deuxième balise ouvre le code et vous pouvez indiquer une langue.</p> 
<p>Ensuite la balise head permet d'afficher des choses en dehors de la page comme le titre en haut. Et vous pouvez mettre des metadonnées grâce à la balise meta</p>
<p>charset="utf-8" permet de spécifier le jeu de caractère utilisé. (à ne pas confondre avec la police)</p>
<p></p>
<p>On arrive sur la balise body qui indique que vous travaillez sur le corps de la page html.</p>
<ul>
  <li>head pour le haut de la page</li>
  <li>main pour le principal article</li>
  <li>footer pour le bas de page</li>
</ul>
<p>En fonction de ce que vous voulez faire, il y a plein de balises en html. Je vous laisse les découvrir <a href="https://developer.mozilla.org/fr/docs/Web/HTML/Element">ici.</a></p>
<p>Malgrè les balises HTML, vous trouver que votre page manque de couleur, vous voudrez avec plus de choix en placement. Le CSS est fait pour ça.</p>


<h2>Le CSS</h2>


<p>Il faut lier le fichier CSS dans la page internet.</p>
<pre><code class="HTML"><xmp><link href="style_base.css" rel="stylesheet"></xmp></code></pre>
<p>Maintenant regardons ce que fait ce fichier,</p>
<p>Prenons par exemple la partie footer du css de ce site (qui auras peut-être changer entre 2) :</p>
<pre><code class="CSS"><xmp>footer{
background-color: #333;
padding-bottom: 100%;
border-top:solid #8fd9fc;
}</xmp></code></pre>
<p>Vous avez donc le nom de la balise à modifier des accolades puis des attributs (n'oubliez pas le ";" à la fin).</p>
<p>Ici, le fond est noir, on prend toute la place en bas (bottom) et on crée une ligne "solid" avec son code couleur.</p>
<p>Si vous avez plusieurs balises mais que vous ne voulez pas avoir le même comportement pas de soucis.</p><p>
<p>Ajouter class="nom" (si vous avez plusieurs balises à modifier) ou id="nom"(pour une seule balise)</p>
<p>Par exemple :</p><pre><code class="HTML"><xmp><pre class="Code">blablabla</pre></xmp></code></pre>
<p>et la partie CSS suivante :</p>
<pre><code class="CSS"><xmp>.code{
background-color: #000;
color: rgb(75, 255, 120);
padding-left: 10px;
padding-right: 10px;
}
</xmp></code></pre>
<p>La différence : le point . avant le nom indique une classe ou une id.</p>
<p>Vous voilà développeur front-end. (enfin presque).</p>
<p>Plus de fonctionnalité de CSS <a href="https://developer.mozilla.org/en-US/docs/Web/CSS" target="_blank">ici.</a></p>

{% endblock %}

{% block ressource %}
<h2>Ressources</h2>
<a href="https://developer.mozilla.org/fr/docs/Web/HTML/Element">balise html</a><br>
<a href="https://developer.mozilla.org/en-US/docs/Web/CSS" target="_blank">CSS</a><br>

{% endblock %}